<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="Framework">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Framework</directory>
        </whitelist>
    </filter>
</phpunit>