:root {
    --background-color: #313131;
    --dark-background-color: #1E1E1E;

    --border-color: #707070;
    --dark-border-color: #4b4b4b;

    --text-color: #FFFFFF;

    --critical-color: #F61616;
    --danger-color: #FF4444;
    --warning-color: #ffbc31;
    --safe-color: #41ff6d;
    --ok-color: #00FF4C;
}