// Loading
.loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;

  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%23491f7a'%3E%3Ccircle cx='50%25' cy='50%25' r='6' fill='none' stroke='inherit' stroke-width='3' stroke-opacity='.3'/%3E%3Ccircle cx='50%25' cy='50%25' r='6' fill='none' stroke='inherit' stroke-width='3' stroke-linecap='round' stroke-dasharray='10 10 30 50 10' stroke-opacity='.5'%3E%3Canimate attributeName='stroke-dashoffset' dur='10s' repeatCount='indefinite' from='0' to='1000'/%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: inline-block;

  &.loading-xs {
    height: $unit-4;
    width: $unit-4;
  }

  &.loading-sm {
    height: $unit-6;
    width: $unit-6;
  }

  height: $unit-9;
  width: $unit-9;

  &.loading-lg {
    height: $unit-12;
    width: $unit-12;
  }

  &.loading-xl {
    height: $unit-16;
    width: $unit-16;
  }

  // &::after {
  //   animation: loading 500ms infinite linear;
  //   border: $border-width-lg solid $primary-color;
  //   border-radius: 50%;
  //   border-right-color: transparent;
  //   border-top-color: transparent;
  //   content: "";
  //   display: block;
  //   height: $unit-4;
  //   left: 50%;
  //   margin-left: -$unit-2;
  //   margin-top: -$unit-2;
  //   position: absolute;
  //   top: 50%;
  //   width: $unit-4;
  //   z-index: $zindex-0;
  // }

  // &.loading-lg {
  //   &::after {
  //     height: $unit-8;
  //     margin-left: -$unit-4;
  //     margin-top: -$unit-4;
  //     width: $unit-8;
  //   }
  // }
}
