<li class="nav-item">
    <a href="{{ path('blog.admin.posts.index') }}" class="{{ is_subpath('blog.admin.posts.index')?'text-light':'' }}">Articles</a>
</li>
<li class="nav-item">
    <a href="{{ path('blog.admin.categories.index') }}" class="{{ is_subpath('blog.admin.categories.index')?'text-light':'' }}">Catégories</a>
</li>