<div class="card">
    <div class="card-header">
        <div class="card-title h5">Blog</div>
    </div>
    <div class="card-body">
        Le blog compte actuellement {{ count }} article{{ count==0?'s':'' }}
    </div>
    <div class="card-footer">
        <a href="{{ path('blog.admin.posts.index') }}" class="btn btn-primary">Gerer les articles</a>
        <a href="{{ path('blog.admin.categories.index') }}" class="btn btn-primary">Gerer les catégories</a>
    </div>
</div>