{% extends '@admin/layout.twig' %}

{% block title 'Accueil' %}

{% block content %}

    <div class="container">
        <div class="columns">
            {% for widget in widgets %}
                <div class="column col-4 col-md-3 col-xm-12">
                    {{ widget | raw }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}