{% extends 'layout.twig' %}

{% block title "Le blog" %}

{% block content %}

<h1>Bienvenue sur le blog !</h1>

<ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                {{ post.name }}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}